[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Getting started with godot engine
[access "refs/*"]
	owner = group user/Grzegorz1337
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Grzegorz1337
	label-Verified = -1..+1 group user/Grzegorz1337
	push = group user/Grzegorz1337
	read = group user/Grzegorz1337
	rebase = group user/Grzegorz1337
	removeReviewer = group user/Grzegorz1337
	submit = group user/Grzegorz1337
[access "refs/heads/*"]
	create = group user/Grzegorz1337
	push = +force group user/Grzegorz1337
	pushMerge = group user/Grzegorz1337
	read = group user/Grzegorz1337
[access "refs/tags/*"]
	push = group user/Grzegorz1337
	push = +force group user/Grzegorz1337
